.dark-mode-boton {
    background-color: darken($grisOscuro, 10);

    p {
        color: $blanco;
    }

    a, h1, h2, h3, h4, .h3, div.h2, blockquote, label, legend, .h1{
        color: $gris;
    }

    .anuncio {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio {
            color: $verde;
        }
        .icono {
            filter: invert(100%);
        }
    }

    label, legend, p, input, ::placeholder {
        color: $gris;
    }

    input:not([type="submit"]),
    textarea,
    select {
        background-color: $grisOscuro;
        color: $gris;
    }

    .icono2 {
        filter: invert(100%);
    }

    
}