.no-webp .inicio {
    background-image: url(../img/header.jpg);
}
.webp .inicio {
    background-image: url(../img/header.webp);
}

.dark-mode {
    filter: invert(100%);
}

.header {
    background-color: $blue-900;
    padding: 3rem 0 3rem 0;

    &.inicio {
        background-position: center center;
        background-size: cover;

        @include tablet {
            min-height: 70rem;
        }
        
        .contenido-header {
            @include tablet {
                min-height: 70rem;
            }
        }
    }   
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 40rem;
    }
}