.barra {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    @include tablet {
        flex-direction: row-reverse; 
        justify-content: space-between;
    }
} // Modificado por propiedades de bootstrap

.navegacion {
    @include tablet {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        font-size: 1.8rem;
    }
} // Modificado por propiedades de bootstrap

.navegacion2 {
    opacity: 1;
    transition: visibility .3s ease-in-out, opacity 0.5s linear;
}

.mobile-menu2 {
    
}