.testimonial {
    background-color: $verde;

    blockquote {
        position: relative;
        &::before {
            content: '';
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block;
            position: absolute;
            left: -0.5rem;
        }

    }
}